{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="title">Database Storage - Delete entries</f:section>

<f:section name="content">
  <section>
    <h3>Entries successfully removed</h3>
    <p>All ({count}) entries for the identifier "{identifier}" were successfully removed.</p>
    <f:link.action action="index" class="neos-button neos-button-primary" title="Go back to list of identifiers'">
      <i class="icon-eye-open icon-white"></i> Back to list
    </f:link.action>
  </section>
</f:section>
