{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'storage.databaseStorage')}</f:section>

<f:section name="Content">
  <style>
    .size-sm {width: 150px;}
  </style>

  <div class="neos-row-fluid">
    <f:if condition="{identifiers -> f:count()}">
      <f:then>
        <table class="neos-table">
          <thead>
            <tr>
              <th>{neos:backend.translate(id: 'storage.identifier')}</th>
              <th class="size-sm">&nbsp;</th>
            </tr>
          </thead>
          <f:for each="{identifiers}" key="index" as="identifier">
            <tr>
              <td title="{identifier}">{identifier}</td>
              <td class="neos-action size-sm">
                <div class="neos-pull-right">
                  <f:link.action action="show" arguments="{identifier: identifier}" class="neos-button"><i class="fas fa-eye icon-eye icon-white"></i></f:link.action>
                  <button class="neos-button neos-button-primary" title="{neos:backend.translate(id: 'storage.export', arguments: {0: identifier})}" data-toggle="modal" href="#export-{identifier}">
                    <i class="fas fa-download icon-download icon-white"></i>
                  </button>
                  <button class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'clickToDelete', value: 'Click to delete', package: 'Neos.Neos')}" data-toggle="modal" href="#identifier-{identifier}">
                    <i class="fas fa-trash-alt icon-trash-o icon-white"></i>
                  </button>

                  <div class="neos-hide" id="export-{identifier}">
                    <div class="neos-modal">
                      <div class="neos-modal-header">
                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                        <div class="neos-header">{neos:backend.translate(id: 'storage.exportModal.title')}</div>
                        <div>
                          <div class="neos-subheader">
                            <p>{neos:backend.translate(id: 'storage.exportModal.text', arguments: {0: identifier})}</p>
                          </div>
                        </div>
                      </div>
                      <div class="neos-modal-footer">
                        <a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel', package: 'Neos.Neos')}</a>
                        <f:form action="export" arguments="{identifier: identifier}" class="neos-inline">
                          <div>
                            <label class="neos-checkbox"><f:form.checkbox name="exportDateTime" value="1" /><span></span> {neos:backend.translate(id: 'storage.includeDatetime')}</label>
                          </div>
                          {neos:backend.translate(id: 'storage.exportAs')}:
                          <f:form.button type="submit" name="writerType" value="Xlsx" class="neos-button neos-button-primary" title="{neos:backend.translate(id: 'storage.exportAsFiletype', arguments: {0: 'xlsx'})}">XLSX</f:form.button>
                          <f:form.button type="submit" name="writerType" value="Xls" class="neos-button" title="{neos:backend.translate(id: 'storage.exportAsFiletype', arguments: {0: 'xls'})}">XLS</f:form.button>
                          <f:form.button type="submit" name="writerType" value="Ods" class="neos-button" title="{neos:backend.translate(id: 'storage.exportAsFiletype', arguments: {0: 'ods'})}">ODS</f:form.button>
                          <f:form.button type="submit" name="writerType" value="Csv" class="neos-button" title="{neos:backend.translate(id: 'storage.exportAsFiletype', arguments: {0: 'csv'})}">CSV</f:form.button>
                          <f:form.button type="submit" name="writerType" value="Html" class="neos-button" title="{neos:backend.translate(id: 'storage.exportAsFiletype', arguments: {0: 'html'})}">HTML</f:form.button>
                        </f:form>
                      </div>
                    </div>
                  </div>

                  <div class="neos-hide" id="identifier-{identifier}">
                    <div class="neos-modal">
                      <div class="neos-modal-header">
                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                        <div class="neos-header">{neos:backend.translate(id: 'storage.deleteModal.title', arguments: {0: identifier})}</div>
                        <div>
                          <div class="neos-subheader">
                            <p>{neos:backend.translate(id: 'storage.deleteModal.text', arguments: {0: identifier})}</p>
                          </div>
                        </div>
                      </div>
                      <div class="neos-modal-footer">
                        <a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel', package: 'Neos.Neos')}</a>
                        <f:form action="deleteAll" arguments="{identifier: identifier}" class="neos-inline">
                          <f:form.hidden name="redirect" value="1" />
                          <button type="submit" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'storage.deleteModal.buttonTitle')}">
                            {neos:backend.translate(id: 'storage.deleteModal.buttonText', arguments: {0: identifier})}
                          </button>
                        </f:form>
                      </div>
                    </div>
                    <div class="neos-modal-backdrop neos-in"></div>
                  </div>
                </div>
              </td>
            </tr>
          </f:for>
        </table>
      </f:then>
      <f:else>
        <p>{neos:backend.translate(id: 'storage.noEntries')}</p>
      </f:else>
    </f:if>
  </div>
</f:section>
