{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Database Storage</f:section>

<f:section name="Content">
  <style>
    .size-sm {width: 110px;}
    .neos.neos-module table.neos-table tr td,
    .neos.neos-module table.neos-table tr td:first-child{padding: 0 !important;}
    .neos .full-width-left {text-align: left; width: 100%;}
    .neos.neos-module table.neos-table tr td.with-indicator {padding: 14px 16px !important;}
  </style>

  <div class="neos-row-fluid">
    <f:if condition="{identifiers -> f:count()}">
      <f:then>
        <table class="neos-table">
          <thead>
            <tr>
              <th>Identifier</th>
              <th class="size-sm">&nbsp;</th>
            </tr>
          </thead>
          <f:for each="{identifiers}" key="index" as="identifier">
            <tr>
              <td title="{identifier}">{identifier}</td>
              <td class="neos-action size-sm">
                <div class="neos-pull-right">
                  <f:link.action action="export" arguments="{identifier: identifier}" class="neos-button neos-button-primary" title="Export entries of '{identifier}'">
                    <i class="icon-eye-open icon-white"></i>
                  </f:link.action>

                  <button class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'clickToDelete', value: 'Click to delete', package: 'Neos.Neos')}" data-toggle="modal" href="#identifier-{identifier}">
                    <i class="icon-trash icon-white"></i>
                  </button>
                  <div class="neos-hide" id="identifier-{identifier}">
                    <div class="neos-modal">
                      <div class="neos-modal-header">
                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                        <div class="neos-header">Do you really want to delete identifier "{identifier}"?</div>
                        <div>
                          <div class="neos-subheader">
                            <p>This will delete all entries for identifier "{identifier}" and cannot be undone. Your data will be gone!</p>
                          </div>
                        </div>
                      </div>
                      <div class="neos-modal-footer">
                        <a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel', package: 'Neos.Neos')}</a>
                        <f:form action="deleteAll" arguments="{identifier: identifier}" class="neos-inline">
                          <f:form.hidden name="redirect" value="1" />
                          <button type="submit" class="neos-button neos-button-danger" title="Delete entries">
                            Yes, delete all entries for identifier "{identifier}"
                          </button>
                        </f:form>
                      </div>
                    </div>
                    <div class="neos-modal-backdrop neos-in"></div>
                  </div>
                </div>
              </td>
            </tr>
          </f:for>
        </table>
      </f:then>
      <f:else>
        <p>No entries yet.</p>
      </f:else>
    </f:if>
  </div>
</f:section>
